/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #999999;
    padding: 20px;
}

h1 {
    text-align: center;
}

button, select {
    display: inline-block;
    padding: 15px;
    background-color: #8db255;
    font-size: 16px;
    border: none;
    border-radius: 12px;
}

/* https://stackoverflow.com/questions/1964297/split-div-into-2-columns-using-css
 */
#content {
    display: table;
    width: 100%;
}

#left-column {
    text-align: right;
    padding: 15px;
}

.column {
    display: table-cell;
    padding: 25px;
} 
/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px) {
  .column {
    display: block;
    width: 100%;
  }
} 

/* each row has a description and a textarea */
.row {
    display: table;
}
.description {
    display: table-cell;
    vertical-align: middle;
}
button {
    height: 100px;
    width: 120px;
}
textarea {
    height: 100px;
    background-color: #666666;
    width: 400px; 
    border: none;
    border-radius: 12px;
}
